header {
  background-color: #a4031f;
  color: #db9065;
  text-align: center;
}

main {
  background-color: LightGray;
  padding: 1em;
}

body {
  margin: 0;
  background-image: url("./record.png");
  background-repeat: repeat;
}

ul {
  background-color: whitesmoke;
}