.header {
  background-color: #a4031f;
  color: #db9065;
  text-align: center;
}

.main {
  background-color: LightGray;
  padding: 1em;
}

body {
  margin: 0;
  background-image: url("./record.png");
  background-repeat: repeat;
}

.questions_ul {
  background-color: whitesmoke;
  padding: 1em;
  font-size: 1.25em;
}

.questions_li {
  /* This would probably be easier as a simple li {} instead of a class,
  but I'm sticking with the stretch goal requirement. Could also be
  .questions_ul li {}*/
  margin: 1em;
}